<table class="table">
    <thead>
        <tr>
            <th scope="col">montant</th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let cpcClasseComptable of cpcClasseComptables; let i = index">
            <td>{{ cpcClasseComptable.montant}}</td>
            <td>
                <!--<button class="btn btn-sm btn-warning mr-2" (click)="update(mission, i)"><i class="fa fa-pencil"></i></button> -->
                <button class="btn btn-sm btn-primary" (click)="delete(cpcClasseComptable.id,i)"><i class="fa fa-trash"></i> </button>
            </td>
        </tr>
    </tbody>
</table>
