  <div class="card mt-5">
    <div class="card-header">
      Cpc sous classe
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>montant</label>
        <input
          type="text"
          [(ngModel)]="cpcsousclasse.montant"
          class="form-control"
          placeholder="Enter le montant"
        />
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-block btn-primary" (click)="save()">
        Save
      </button>
    </div>
  </div>