<div class="card mt-5">
    <div class="card-header">
      Cpc sous classe
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>montant</label>
        <input
          type="text"
          [(ngModel)]="cpcSousClasse.montant"
          class="form-control"
          placeholder="Enter le montant"
        />
      </div>
      <div class="form-group">
        <label for="cpc">Cpc</label>
        <select name="cpc" id="cpc" [(ngModel)]="cpcSousClasse.cpc" class="form-control" #mySelect
            (change)='onOptionsSelectedem(mySelect.value)'>
            <option value="" style="color: black;" >Sélectionnez...</option>
            <option *ngFor="let e of cpcs;" [ngValue]="e" style="color: black;">
                {{ e.numero }}
            </option>
        </select>
    </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-block btn-primary" (click)="save()">
        Save
      </button>
    </div>
  </div>