<div class="card">
    <div class=" card-header">
        <h4 class=" card-title">Liste des Cpcs</h4>
    </div>
    <div class=" card-body">
        <div class=" table-responsive">
        <table class=" table tablesorter" id="">
                <thead class=" text-primary">
              <tr>
            <th scope="col">Numero</th>
            <th scope="col">date Debut</th>
            <th scope="col">date Fin</th>
            <th scope="col">montant</th>
            <th scope="col">reference Societe</th>
            <th scope="col">total Charge</th>
            <th scope="col">total Produit</th>
            <th scope="col">resultat</th>
            <th scope="col"> action </th>
        </tr>
    </thead>
    <tbody>
         <tr *ngFor="let cpc of cpcs; let i = index">
            <td>{{ cpc.numero}}</td>
            <td>{{ cpc.dateDebut}}</td>
            <td>{{ cpc.dateFin}}</td>
            <td>{{ cpc.montant}}</td>
            <td>{{ cpc.referenceSociete}}</td>
            <td>{{ cpc.totalCharge}}</td>
            <td>{{ cpc.totalProduit}}</td>
            <td>{{ cpc.resultat}}</td>
            <td>
                <button class="btn btn-sm btn-warning" (click)="update(cpc)"><i class="fas fa-pencil-alt"></i></button> 
                <button class="btn btn-sm btn-primary" (click)="delete(cpc.id,i)"><i class="fa fa-trash"></i> </button>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
